$primary-color: #607d8c;
$primary-light: #8eacbc;
$primary-dark: #34515f;

$accent-color: #ff9100;
$accent-light: #ffc246;
$accent-dark: #c56200;

$card-colors: (
  "manager": #c56000,
  "pm": #ff8f00,
  "engineer": #ffca28,
  "intern": #ffe082
);
